body {
  background-color: #001d42;
  color: beige;
  overflow-y: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formError {
  border: 2px solid red;
  color: #001d42;
  text-align: center;
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 8px;
}

span {
  color: beige;
}
/* .css-1vzrijx {
  color: #b3b3b3;
}
.MuiGrid-root {
  color: #b3b3b3;
}
.css-1mnedko-MuiPickersDay-root {
  color: #b3b3b3;
} */
